[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
port		= 3306
datadir		= /var/lib/mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
tmpdir		= /tmp
log-error	= /var/log/mysql/error.log
skip-external-locking

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address	= 0.0.0.0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Drupal DB tweaks - https://groups.drupal.org/node/289613
key_buffer_size = 128M
max_allowed_packet = 64M
tmp_table_size = 128M
max_heap_table_size = 128M
query_cache_size = 16M
query_cache_limit = 512K
thread_cache_size = 128

# Default medium size recommendations
wait_timeout = 600
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

# INNODB
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 4
innodb_flush_method = O_DIRECT
innodb_log_files_in_group = 4
innodb_log_file_size = 512M
innodb_log_buffer_size = 128M
innodb_lock_wait_timeout = 360
innodb_flush_log_at_trx_commit = 0
innodb_write_io_threads = 16
innodb_file_per_table = 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
